<div class="row">
    <div class="col-xs-12 col-md-10 col-md-offset-1 footer-space">
        <% if user_signed_in? %>
            <div class="page-header headertitle">
                <h1>Feeds</h1>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <% @feeds.each do |feed| %>
                        <div class="jumbotron feed-index-box">
                            <h2 class="textsink">"<%= feed.title %>"</h2>
                            <br>
                            <p>Practice writing <strong><i><%= feed.focus %></i></strong>.</p>
                            <%= link_to "Dive in", feed, class: "btn btn-danger" %>
                        </div>
                    <% end %>
                </div>
            </div>
        <% else %>
            <div class="page-header text-center">
                    <div class="animated flipInX">
                        <%= image_tag('justg.png', :alt => "Brand", :class => "inline-block pageimage") %>
                    </div>
                    <h1>
                        <span class="headertitle">Generation Next</span>
                        <br>
                        <small class="textsink"><i>companion app</i></small>
                    </h1>
                </div>
                    <p class="text-center">
                        <%= link_to "Get Started", new_user_registration_path, class: "btn btn-warning" %> or <%= link_to "Log in", new_user_session_path, class: "textpop" %>
                    </p>
        <% end %>
    </div>
</div>