<% if user_signed_in? %>
    <div class="centercontainer responsesdiv">
        <div class="centerrowfeeds">
            <div class="centercolumnfeeds">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">New Feed</h2>
                    </div>
                    <div class="panel-body">
                        <%= render 'form', feed: @feed %>
                    </div>
                    <div class="panel-footer">
                        <%= link_to 'Back', feeds_path %>
                    </div>
                </div>
            </div>
        </div>
    </div>
<% else %>
    <div class="page-header text-center">
                    <div class="animated flipInX">
                        <%= image_tag('justg.png', :alt => "Brand", :class => "inline-block pageimage") %>
                    </div>
                    <h1>
                        <span class="headertitle">Generation Next</span>
                        <br>
                        <small class="textsink"><i>companion app</i></small>
                    </h1>
                </div>
                    <p class="text-center">
                        <%= link_to "Get Started", new_user_registration_path, class: "btn btn-warning" %> or <%= link_to "Log in", new_user_session_path, class: "textpop" %>
                    </p>
<% end %>