<div class="centercontainer">
    <div class="centerrow">
        <div class="centercolumn footer-space">
            <% unless user_signed_in? %>
                <div class="page-header text-center">
                    <div class="animated flipInX">
                        <%= image_tag('justg.png', :alt => "Brand", :class => "inline-block pageimage") %>
                    </div>
                    <h1>
                        <span class="textpop">Generation Next</span>
                        <br>
                        <small class="textsink"><i>companion app</i></small>
                    </h1>
                </div>
                    <p class="text-center">
                        <%= link_to "Get Started", new_user_registration_path, class: "btn btn-warning" %> or <%= link_to "Log in", new_user_session_path, class: "textpop" %>
                    </p>
            <% else %>
                <div class="page-header text-center logged-in">
                    <h1>
                        <span class="textpop">Welcome,</span>
                        <br>
                        <small class="textsink"><%= current_user.name %></small>
                    </h1>
                </div>
                    <div class="well">
                        <p>Thanks for registering!<br><br>  For now, you can <%= link_to "view the first feed", @latest_feed, class: "textpop" %> and write your first response.  You can also read some of the other participants' responses.</p>
                    </div>
                    <p class="text-center">
                        <%= link_to "Newest Feed", @latest_feed, class: "btn btn-warning" %>
                        or <%= link_to "View All Feeds", feeds_path, class: "textpop" %>
                    </p>
            <% end %>
        </div>
    </div>
</div>