<div class="centercontainer">
    <div class="centerrow">
        <div class="centercolumn footer-space">
            <% unless user_signed_in? %>
                <div class="page-header text-center">
                    <div class="animated flipInX">
                        <%= image_tag('justg.png', :alt => "Brand", :class => "inline-block pageimage") %>
                    </div>
                    <h1>
                        <span class="headertitle">Generation Next</span>
                        <br>
                        <small class="textsink"><i>companion app</i></small>
                    </h1>
                </div>
                    <p class="text-center">
                        <%= link_to "Get Started", new_user_registration_path, class: "btn btn-warning" %> or <%= link_to "Log in", new_user_session_path, class: "textpop" %>
                    </p>
            <% else %>
                <div class="page-header text-center logged-in">
                    <h1>
                        <span class="headertitle">Welcome,</span>
                        <br>
                        <small class="textsink"><%= current_user.name %></small>
                    </h1>
                </div>
                    <div class="well">
                        <p>Check out the new link on the navigation bar where you can view all of your classmates lesson plans.  Oh, and <%= link_to "mine is there too", plan_path(id: "37"), class: "textpop" %>.<br><br>Looking ahead, I hope that this continues to be a resource to you as you prepare to visit schools or in your current teaching practice.  Here are a few ways:<br>
                        <ul>
                            <li>a place to check out lesson plan ideas</li>
                            <li>a way to access links and resources from our workshops</li>
                            <li>a digital community where you can share your experiences</li>
                        </ul>
                        <br>
                        Starting next week, you will be able to create your own feeds in order to begin discussions or ask specific questions.</p>
                    </div>
                    <br>
                    <p class="text-center">
                        <%= link_to "Newest Feed", @latest_feed, class: "btn btn-warning" %>
                        or <%= link_to "View All Feeds", feeds_path, class: "textpop" %>
                    </p>
            <% end %>
        </div>
    </div>
</div>