<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">by 
            <% if current_user == response.user %>
                Me
            <% else %>
                <%= response.user.name %>
            <% end %>
        </h4> 
    </div>
    <div class="panel-body">
        <div class="well">
            <%= raw(response.body) %>
        </div>
        <p>
            <% if response.user == current_user or current_user.try(:admin?) %>
                <%= link_to 'Delete', [@feed, response], class: 'btn btn-danger btn-sm', method: :delete, data: { confirm: "Are you sure?" } %>
            <% end %>
        </p>
    </div>
    <div class="panel-footer">
        <%= link_to 'Add a Reply', new_response_response_path(response) %>
    </div>
</div>
<% unless response.responses.empty? %> 
    <div class="row">
        <div class="col-xs-1 replydiv text-right">
            <h3><span class="fa fa-mail-reply"></span></h3>
        </div>
        <div class="col-xs-11">
            <div class="indentit">
                <%= render :partial => 'responses/response', :collection => response.responses %>
            </div>
        </div>
    </div>
    
<% end %>