<div class="row">
  <div class="col-xs-12 col-md-10 col-md-offset-1 footer-space">
    <div class="page-header">
      <h1 class="headertitle">"<%= @plan.topic %>"
      <br>
      <small class="indent-name textsink">by <%= @plan.user.name %></small>

      </h1>
      
    </div>
    <div class="well">
      <h3>Goal</h3>
      <p><%= raw(@plan.goal) %></p>
      <br>
      <h3>Materials</h3>
      <p><%= raw(@plan.materials) %></p>
      <br>
      <h3>Listening</h3>
      <p><%= raw(@plan.listening) %></p>
      <br>
      <h3>Speaking</h3>
      <p><%= raw(@plan.speaking) %></p>
      <br>
      <h3>Reading</h3>
      <p><%= raw(@plan.reading) %></p>
      <br>
      <h3>Writing</h3>
      <p><%= raw(@plan.writing) %></p>
      <br>
      <h3>Assessment</h3>
      <p><%= raw(@plan.assessment) %></p>
      <br>
    </div>
    <br>
    <br>
    <div class="btn-group btn-group-justified">
        <% if current_user.try(:admin?) %>
            <%= link_to 'Back', :back, class: "btn btn-info" %>
            <%= link_to 'Edit', edit_plan_path(@plan), class: "btn btn-success" %>
            <%= link_to 'Delete', @plan, class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
    </div>
    <br>
    <%= link_to 'Write a Review', new_plan_review_path(@plan), class: "btn btn-success btn-block" %>
    <br>
    <br>
    <div class="page-header">
      <h3 class="headertitle">Reviews</h3>
    </div>
    <% if @plan.reviews.exists? %>
        <div class="responsesdiv">
            <%= render :partial => 'reviews/review', :collection => @plan.reviews %>
        </div>
    <% else %>
        <blockquote>No reviews yet <span class="fa fa-frown-o frowny"></span></blockquote>
    <% end %>
  </div>
</div>